<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#000">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <link rel="stylesheet" th:href="@{/css/main.min.css}">
    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid" id="top-line">
    <div class="row">
        <div class="col">
            <div class="info"><span th:text="${user.getEmail()}"></span> with roles:
                <ul th:each="name : ${user.getRoles()}">
                    <li th:text="${name}"></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="logout"><a th:href="@{/logout}">Logout</a></div>
        </div>
    </div>
</div>
<div class="container-fluid" id="main">
    <div class="row main-row">
        <div class="col-3 left-panel">
            <div class="nav flex-column nav-pills" id="v-pills-tab" name="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" name="tab"
                   aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" name="tab"
                   aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-9 right-panel">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" name="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <div class="row">
                        <div class="col">
                            <h1>Admin panel</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="nav nav-tabs" id="myTab" name="tablist">
                                <li class="nav-item" name="presentation">
                                    <a class="nav-link active" id="user-table-tab" data-toggle="tab" href="#user-table"
                                       name="tab" aria-controls="user-table" aria-selected="true">User table</a>
                                </li>
                                <li class="nav-item" name="presentation">
                                    <a class="nav-link" id="new-user-tab" data-toggle="tab" href="#new-user" name="tab"
                                       aria-controls="new-user" aria-selected="false">New user</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="user-table" name="tabpanel"
                                     aria-labelledby="user-table-tab">
                                    <div class="card">
                                        <h5 class="card-header">All users</h5>
                                        <div class="card-body">
                                            <table class="table table-striped" id="mainTable">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!--<tr valign="middle" th:each="user : ${users}">
                                                    <th scope="row" th:text="${user.getId()}"></th>
                                                    <td th:text="${user.getName()}"></td>
                                                    <td th:text="${user.getLastName()}"></td>
                                                    <td th:text="${user.getAge()}"></td>
                                                    <td th:text="${user.getEmail()}"></td>
                                                    <td th:text="${user.getRoles()}"></td>
                                                    <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}"
                                                           class="btn btn-info">Edit</a></td>
                                                    <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}"
                                                           class="btn btn-danger">Delete</a></td>
                                                </tr>-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="new-user" name="tabpanel" aria-labelledby="new-user-tab">
                                    <div class="card">
                                        <h5 class="card-header">Add new user</h5>
                                        <div class="card-body">
                                            <form id="new-form">
                                                <div class="form-group">
                                                    <label for="firstName">First name</label>
                                                    <input type="text" class="form-control" id="firstName"
                                                           name="name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastName">Last name</label>
                                                    <input type="text" class="form-control" id="lastName"
                                                           name="lastName" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="age">Age</label>
                                                    <input type="number" class="form-control" id="age" name="age"
                                                           required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="email" class="form-control" id="email"
                                                           name="email" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password" class="form-control" id="password"
                                                           name="password" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="roles">Role</label>
                                                    <select multiple class="form-control" id="roles" name="roles[]"
                                                            size="2">
                                                        <option th:each="role : ${allRoles}"
                                                                th:value="${role.getId()}"
                                                                th:text="${role.getName()}"></option>
                                                    </select>
                                                </div>
                                                <button type="button" class="btn btn-success" onclick="createUser()">Add new user</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-user" name="tabpanel" aria-labelledby="v-pills-user-tab">
                    <div class="row">
                        <div class="col">
                            <h1>User information-page</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <h5 class="card-header">About user</h5>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr valign="middle">
                                            <th scope="row" th:text="${user.getId()}"></th>
                                            <td th:text="${user.getName()}"></td>
                                            <td th:text="${user.getLastName()}"></td>
                                            <td th:text="${user.getAge()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td th:text="${user.getRoles()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal edit-->
            <div class="modal fade" id="editModal" tabindex="-1" name="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" id="modalContent">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editTitle">Edit user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="modal-form">
                                <input id="method" type="hidden" name="_method" value="post">
                                <div class="form-group">
                                    <label for="idEdit">ID</label>
                                    <input type="text" class="form-control" id="idEdit" name="id" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="firstNameEdit">First name</label>
                                    <input type="text" class="form-control" id="firstNameEdit" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="lastNameEdit">Last name</label>
                                    <input type="text" class="form-control" id="lastNameEdit" name="lastName">
                                </div>
                                <div class="form-group">
                                    <label for="ageEdit">Age</label>
                                    <input type="number" class="form-control" id="ageEdit" name="age">
                                </div>
                                <div class="form-group">
                                    <label for="emailEdit">Email</label>
                                    <input type="email" class="form-control" id="emailEdit" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="passwordEdit">Password</label>
                                    <input type="password" class="form-control" id="passwordEdit" name="password">
                                </div>
                                <div class="form-group">
                                    <label for="rolesEdit">Role</label>
                                    <select multiple class="form-control" id="rolesEdit" name="roles[]"
                                            size="2"></select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="modalDismiss"
                                            data-dismiss="modal">Close
                                    </button>
                                    <button type="button" class="btn" id="editSubmit">Edit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/scripts.min.js}"></script>
<script>

    const tbody = $("#mainTable tbody");
    $(document).ready(() => {
        getAllUsers();
    });

    function getAllUsers() {
        fetch("/api/users").then((response) => {
            if (response.ok) {
                response.json().then((users) => {
                    users.forEach((user) => {
                        addUserRow(user)
                    });
                });
            } else {
                console.error(response.status + " - " + response.statusText);
            }
        });
    }

    function createUser() {
        let form = $('#new-form');
        let user = {
            'name': form.find('#firstName').val(),
            'lastName': form.find('#lastName').val(),
            'age': parseInt(form.find('#age').val()),
            'email': form.find('#email').val(),
            'password': form.find('#password').val(),
            'roles': form.find('#roles').val().map(id => parseInt(id))
        };
        let headers = new Headers();
        headers.append('Content-Type', 'application/json; charset=utf-8');
        let request = new Request('/api/users', {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(user)
        });
        console.log(user);
        fetch(request).then((response) => {
            response.json().then((userReturned) => {
                tbody.empty();
                getAllUsers();
                console.log(userReturned)
            })
        })
    }

    function updateUser () {
        let form = $('#modal-form');
        let user = {
            'id': parseInt(form.find('#idEdit').val()),
            'name': form.find('#firstNameEdit').val(),
            'lastName': form.find('#lastNameEdit').val(),
            'age': parseInt(form.find('#ageEdit').val()),
            'email': form.find('#emailEdit').val(),
            'password': form.find('#passwordEdit').val(),
            'roles': form.find('#rolesEdit').val().map(id => parseInt(id))
        };
        let headers = new Headers();
        headers.append('Content-Type', 'application/json; charset=utf-8');
        let request = new Request("api/users/"+user.id, {
            method: 'PATCH',
            headers: headers,
            body: JSON.stringify(user),
        });
        $('#editModal').modal('hide');
        fetch(request).then((response) => {
            response.json().then((userReturned) => {
                $("#name"+userReturned.id).text(userReturned.name);
                $("#lastName"+userReturned.id).text(userReturned.lastName);
                $("#age"+userReturned.id).text(userReturned.age);
                $("#email"+userReturned.id).text(userReturned.email);
                $("#roles"+userReturned.id).text(userReturned.roles.map(role => role.name));
                console.log(userReturned);
            })
        })
    }

    function deleteUser(userId) {
        fetch("/api/users/"+userId, {method: "DELETE"})
            .then((response) => {
                if (response.status === 404 || response.status === 400) {
                    response.text().then((value) => console.warn("Error message: " + value));
                    return;
                }
                tbody.find('#'+userId).remove();
                $('#editModal').modal('hide');
            })
    }


    function editModal(userId) {
        $('#editModal').modal('show');
        $('#editModal .modal-header h5').text('Edit user');
        $('#editSubmit').text('Edit').addClass('btn btn-primary').attr('onClick', 'updateUser();');

        getRoles();
        getUserByid(userId)
    }

    function deleteModal(userId) {
        $('#editModal').modal('show');
        $('#editModal .modal-header h5').text('Delete user');

        getRoles();
        getUserByid(userId)

        $('#passwordEdit').remove();
        $('#firstNameEdit').prop('readonly', true);
        $('#lastNameEdit').prop('readonly', true);
        $('#ageEdit').prop('readonly', true);
        $('#emailEdit').prop('readonly', true);
        $('#rolesEdit').prop('disabled', true);
        $('#editSubmit').text('Delete').addClass('btn btn-danger').attr('onClick', 'deleteUser('+ userId + ');');
        $('#method').val('delete');
    }

    function addUserRow(user) {
        tbody.append("<tr valign='middle' id='" + user.id + "'>" +
            "<th scope='row'>" + user.id + "</th>" +
            "<td id='name" + user.id + "'>" + user.name + "</td>" +
            "<td id='lastName" + user.id + "'>" + user.lastName + "</td>" +
            "<td id='age" + user.id + "'>" + user.age + "</td>" +
            "<td id='email" + user.id + "'>" + user.email + "</td>" +
            "<td id='roles" + user.id + "'>" + user.roles.map(role => role.name) + "</td>" +
            "<td><button class='btn btn-info' onclick='event.preventDefault(); editModal(" + user.id + ")'>Edit</button></td>" +
            "<td><button class='btn btn-danger' onclick='event.preventDefault(); deleteModal(" + user.id + ")'>Delete</button></td></tr>")
    }

    $('#editModal').on('hidden.bs.modal', function () {
        clearModalFormField();
    });

    function clearModalFormField() {
        $('#idEdit').val('').prop('');
        $('#firstNameEdit').val('').prop('readonly', false);
        $('#lastNameEdit').val('').prop('readonly', false);
        $('#ageEdit').val('').prop('readonly', false);
        $('#emailEdit').val('').prop('readonly', false);
        $('#passwordEdit').val('').prop('readonly', false);
        $('#rolesEdit').prop('disabled', false);
        $('#rolesEdit option').remove();
        $('#editSubmit').removeAttr('class').removeAttr('onClick');
    }

    function getRoles() {
        fetch("/api/roles").then((response) => {
            if (response.ok) {
                response.json().then((roles) => {
                    let option = '';
                    roles.forEach((role) => {
                        option += '<option value="' + role.id + '">' + role.name + '</option>';
                    });
                    $('#rolesEdit').append(option);
                });
            } else {
                console.error(response.status + " - " + response.statusText);
            }
        });
    }
    function getUserByid(userId) {
        fetch("api/users/" + userId).then((response) => {
            if (response.ok) {
                response.json().then((user) => {
                    $('#method').val('patch');
                    $('#idEdit').val(user.id);
                    $('#firstNameEdit').val(user.name);
                    $('#lastNameEdit').val(user.lastName);
                    $('#ageEdit').val(user.age);
                    $('#emailEdit').val(user.email);
                    $('#passwordEdit').val(user.password);
                    $('#rolesEdit option').each(function () {
                        for (let i = 0; i < user.roles.length; i++) {
                            if (user.roles[i].id == $(this).val()) {
                                $(this).attr('selected', true);
                            }
                        }
                    })
                })
            } else {
                console.error(response.status + " - " + response.statusText);
            }
        });
    }
</script>
</body>
</html>