<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#000">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <link rel="stylesheet" th:href="@{/css/main.min.css}">
    <title>User page</title>
</head>
<body>
<div class="container-fluid" id="top-line">
    <div class="row">
        <div class="col">
            <div class="info"><span th:text="${user.getEmail()}"></span> with roles:
                <ul>
                    <li th:text="${user.getRoles()}"></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="logout"><a th:href="@{/logout}">Logout</a></div>
        </div>
    </div>
</div>
<div class="container-fluid" id="main">
    <div class="row main-row">
        <div class="col-3 left-panel">
            <div class="nav flex-column nav-pills" id="v-pills-tab" name="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" name="tab" aria-controls="v-pills-user" aria-selected="true">User</a>
            </div>
        </div>
        <div class="col-9 right-panel">
            <div class="row">
                <div class="col">
                    <h1>User information-page</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr valign="middle">
                                    <th scope="row" th:text="${user.getId()}"></th>
                                    <td th:text="${user.getName()}"></td>
                                    <td th:text="${user.getLastName()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td th:text="${user.getRoles()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/scripts.min.js}"></script>
</body>
</html>